html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* Ensure the main container takes the full height of the viewport */
}

.background {
    background: linear-gradient(to bottom, rgba(37, 127, 223, 0.879) 0%, rgba(125, 186, 232, 0.524) 100%);
    padding-bottom: 6vh;
    min-height: 100%;
    
}

.content-container {
    box-shadow: 12px 0 15px -4px rgba(31, 73, 125, 0.5), -12px 0 8px -4px rgba(31, 73, 125, 0.5);
    background: linear-gradient(to top, rgba(255, 255, 255, 0.519) 10%, rgba(255, 255, 255, 0.208) 100%) !important;
    display: flex;
    min-height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 1px white
}

.all-content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.home-title {
    color: aliceblue;
    font-weight: 700;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    text-align: center;
    margin-top: 0;
    font-size: clamp(1rem, 5vw, 5rem);
    /* Ensure there is no margin at the top */
}

.hr-tag {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    color: black;
}

.header {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

h3 {
    text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.3);
}

h4 {
    font-size: clamp(1.5rem, 4vw, 3rem);
    text-align: center;
    color: white;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

.move-in-h {
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5) !important;
}

h6 {
    font-size: clamp(1rem, 2vw, 2.5rem);
    line-height: 1.5rem;
    text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.3);

}

ul {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
    list-style-type: square;
    line-height: 2rem;
    text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.3);

}

.list-element {
    text-align: left;
    font-size: 2vw;
    font-size: clamp(1rem, 2vw, 2.5rem);
}

img {
    border: solid 1px white;
}

.basic-info-list {
    align-items: center;
    display: flex;
}

/* ResidenceProperty.css */

/* Default line-height for small screens */
/* .basic-info-desc .experience{
    line-height: 2rem; /* Default for small screens 
} */

/* Line-height for medium and large screens */
@media (min-width: 768px) {
    .basic-info-desc .experience {
        line-height: 3rem; /* Line-height for medium and larger screens */
    }

    ul li {
        line-height: 3rem;
    }

    h6 {
        line-height: 2rem;
    }
}

@media (min-width: 992px) {
    .basic-info-desc .experience {
        line-height: 4rem; /* Line-height for medium and larger screens */
    }

    ul li {
        line-height: 4rem;
    }

    h6 {
        line-height: 3rem;
    }
}

