html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Helvetica", "Segoe UI", "Helvetica Neue", Arial, "Trebuchet MS",
    sans-serif;
}

/* .main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
} */

.content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

/* NAVBAR */
/* Make sure the styles target the navbar specifically */
.navbar {
  position: fixed; /* Fix the navbar to the top */
  top: 0; /* Align the navbar to the top */
  width: 100%; /* Make the navbar span the entire width */
  background: linear-gradient(
    to bottom,
    rgb(255, 255, 255) 0%,
    rgba(185, 208, 229, 0.956) 100%
  );
  z-index: 1000; /* Ensure it's above other content */
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.3); /* Adds a subtle shadow to the navbar */
  height: 6vh; /* Adjust height of the navbar */
}

.navbar-toggler {
  transition: box-shadow 0.3s ease-in-out, border 0.3s ease-in-out !important; /* Smooth transition for box-shadow */
  border: 1px solid transparent !important; /* Remove the border */
}

.navbar-toggler:focus {
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2) !important; /* White glow effect */
  outline: none !important; /* Remove the default outline */
  border: 1px solid white !important; /* Thin white border when focused */
}

.navbar-toggler.collapsed:focus {
  box-shadow: none !important; /* Remove the shadow when collapsed */
  border-color: transparent !important; /* Reset the border color */
}

.navbar-nav {
  display: flex;
  align-items: center;
  height: 100%;;
}

.navbar .navbar-nav .nav-link {
  display: flex;
  align-items: center;
  color: #4396e8; /* Change the color of the nav links */
  font-weight: 700;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}


.navbar-collapse ul a {
  max-height: 6vh;
  transition: height 0.5s ease;
}

/* Responsive adjustment for screens narrower than 992px */
@media (max-width: 991.98px) {
  .navbar-collapse {
    max-height: 24vh;
  }
}

.navbar .navbar-collapse ul {
  background: linear-gradient(
    to bottom,
    rgb(255, 255, 255) 0%,
    rgb(185, 208, 229) 100%
  );
}

.navbar .navbar-brand {
  display: flex;
  color: #2c6299; /* Change the color of the navbar brand */
  font-weight: 700;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3); /* Adds a subtle shadow for better readability */
  height: 100%;
  align-items: center;
}
