html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

/* NAVBAR */
/* Make sure the styles target the navbar specifically */
.navbar {
  position: fixed;  /* Fix the navbar to the top */
  top: 0;           /* Align the navbar to the top */
  width: 100%;      /* Make the navbar span the entire width */
  background: linear-gradient(to bottom, rgb(255, 255, 255) 0%, rgba(185, 208, 229, 0.956) 100%);
  z-index: 1000;    /* Ensure it's above other content */
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.3); /* Adds a subtle shadow to the navbar */
  height: 6vh;  /* Adjust height of the navbar */
}

.navbar .navbar-nav .nav-link {
  color: #4396E8; /* Change the color of the nav links */
  font-weight: 700;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); /* Adds a subtle shadow for better readability */
}

.navbar .navbar-collapse.show {
  background: linear-gradient(to bottom, rgb(255, 255, 255) 0%, rgba(185, 208, 229, 0.956) 100%);
}

.navbar .navbar-brand {
  color: #2c6299; /* Change the color of the navbar brand */
  font-weight: 700;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3); /* Adds a subtle shadow for better readability */
}




